<form [formGroup]="eGeneralForm" (ngSubmit)="onSubmit()">
 <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput placeholder="firstName" formControlName="firstName">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="lastName" formControlName="lastName">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
      </mat-select>
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput placeholder="age" formControlName="age">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Marital Status</mat-label>
      <input matInput placeholder="Marital Status" formControlName="maritalStatus">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 200px;">
      <mat-label>Mobile Number</mat-label>
      <span matPrefix>+91 &nbsp;</span>
      <input maxlength="10" type="tel" matInput placeholder="9999999999" formControlName="mobileNumber">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Mail-Id</mat-label>
      <input matInput placeholder="abc@domain.com" formControlName="mailId">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>  
    <br>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" formControlName="address"></textarea>
       </mat-form-field>
       <mat-icon matSuffix>mode_edit</mat-icon>
    <br>
    <div>
      <button type="button"  mat-button matStepperNext mat-raised-button color="primary" style="float: right;margin: 0 10%;">Next</button>
    </div>
</form>