<div class="formBorder">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">  
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>  
    <br>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>  
      <br>
      <button type="submit" mat-raised-button color="primary" style="width:182px;"  routerLink="../patient_form">Login</button>
    </form>
    <button type="button" mat-icon-button color="primary" routerLink="../employee_form" style="float: right;margin: 0 10%;">New User
        <i class="material-icons">
            navigate_next
        </i>
    </button>
    
    <p hidden>
      Form Value: {{ profileForm.value | json }}
    </p>

</div>