<!-- doctors details -->
<div class="docProfileContainer">
  <div class="docProfileDiv">
    <img src="assets/docProfilePic.png">
  </div>
  <div class="docProfileDiv">
    <div class="docName">Mr. Doctors Name</div>
    <div class="docAddress">
      Dentist <br>
      Years of experience<br>
      From - To<br>
    </div>
  </div>
</div>

<!-- clinic details -->
<div class="clinicDetailsContainer">
  <div class="clinicName">
    Clinic Name:
  </div><div class="clinicLocation">
    Clinic Location:
  </div><div class="contactDetail">
    Contact Detail:
  </div>
    
</div>