.formBorder{
    border: solid 5px;
    border-color: #fafafa;
    background-color: #fafafa;
    width: 50%;
    margin: 0 0 0 10%;
    border-radius: 6%;
    padding: 7% 20px 50px 20px;
    box-shadow: 2px 2px #e0e0e0;
  }
  
img{
  position: absolute;
  opacity: .4;
  margin: -4% 0 0 15%;
}